.collection-page{
    margin: 1.5rem;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.SubItem
{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}
.title
{
    text-decoration: none;
    font-size: 1.125rem;
    color:dimgray;
    font-weight: 400;
}